/********************************
    OVERALL
*********************************/
body {
  margin:0;
}
.spring-summer {
  margin-top: 5px;
  margin-bottom: 20px;
  color:#59493a;
  font-size: 15px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
}
/********************************
    HEADER
*********************************/
.top-header li {
  display: inline-block;
  padding: 10px 5px;
  font-family: sans-serif;
  color: #ea7c70;
  font-size: 14px;
  text-decoration: underline;
}
#cart-image-li {
  display: inline-block;
  padding: 0px;
}
#cart-image {
  width: 90%;
  padding: 0px;
}
.second img {
  width: 50%;
  padding-top: 0px;
}
.top-header a {
  font-family: sans-serif;
  color: #ea7c70;
  font-size: 14px;
  text-decoration: underline;
}
.first  {
  float: left;
  padding-left: 10px;
}
.second  {
  float: right;
}
.top-header img {
  float: left;
  width: 4%;
  padding-top: 20px;
}
.top-header {
  overflow: auto;
  zoom: 1;
  margin-bottom: 0px;
}

/********************************
    First section
*********************************/
.first-section {
  overflow: auto;
  zoom: 1;
  background: linear-gradient(-90deg, #EB670A,  #E5008C);
  padding-bottom: 40px;
}
#back-to {
  color: white;
  margin: 25px 40px;
}
#back-to a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.first-shoe-image {
  float:left;
  max-width: 45%;
  margin: 25px 40px;
}
.first-shoe-image img {
  margin-left: 40px;
  max-width: 100%;
}
.quick-sneakers {
  float:right;
  width: 45%;
  display:inline-block;
}
.quick-sneakers h1 {
  color: white;
  font-size: 60px;
  font-family: Abel, sans-serif;
  margin-top: 70px;
  margin-bottom: 0px
}
.review {
  border-top: 3px dashed #96795e;
  border-bottom: 3px dashed #96795e;
  padding: 20px 0px;
  margin: 30px 0px;
  color: white;
  line-height: 3em;
  font-family: Abel, sans-serif;
}
.review a {
  color:#59493a;
  float: right;
  margin-right: 5px;
}
#buy-now {
    border-radius: 50px;
    background: white;
    padding: 10px;
    color: #e53d10;
    font-family: Abel, sans-serif;
}
.price-buy {
  margin: 10px 0px;
  color: white;
  padding: 20px 0px;
}
.price-buy span {
  font-size: 30px;
  padding-right: 20px;
  font-family: Abel, sans-serif;
}

/*******************
CONTENT TABS
******************/
.content-tabs {
  margin: 40px;
  border-bottom: 3px solid orange;
  padding-bottom: 5px;
}

/* Having some trouble with content-tabs class in general and the reviews tab id. i cant find where they are explicity different in bottom  margin/padding/whatever but when i'm adding borders on mouse enter and exit they behave differently. the left most tabs move as border enters and exits however reviews-tab does not and i cannot get the border to line up the same on all three tabs.
*/
.content-tabs li {
  font-family: PT Sans Narrow, sans-serif;
  font-size: 25px;
  margin: 0px;
  padding: 0px 10px 10px 0px;
  height: 20px;
  display:inline-block;
  color:#ea7c70;
  text-align: left;
}
.content-tabs ul {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#reviews-tab {
  float: right;
  font-size: 16px;
}

.mouse-enter-tabs-class{
  border-bottom: 7px solid pink;
}
/**********************
MAIN BODY
***********************/
.main-body-headers {
  color:#59493a;
  font-style: bold;
  margin: 35px 10px 5px 40px;
}
.main-body-p {
  font-size: 18px;
  color: #313335;
  font-family: Abel, sans-serif;
  margin: 20px 40px 20px 40px;
  line-height: 3em;
}
/*************************
RECCOMENDED SHOES
**************************/
.Shop-Reccomended-Header {
  text-align: center;
  background-color: #f7c2bb;
  color: brown;
  font-family: Abel, sans-serif;
  font-weight: 500;
  padding: 1.5em;
  margin: 0px;
}
.sneakers h6 {
  color: white;
  font-size: 25px;
  font-weight: 200;
  font-family: PT Sans Narrow, sans-serif;
  margin: 0px;
  float: left;
}
.sneakers a {
  float: right;
  color: white;
  font-size: 25px;
  font-weight: 200;
  font-family: PT Sans Narrow, sans-serif;
  padding-right: 80px;
  text-decoration: none;

}
.types-of-sneakers-container {
  float:left;
  width: 33%;
}
.types-of-sneakers-container img {
  width: 78%;
  padding-top: 20px;
}
.sneakers {
  padding: 70px;
  overflow: auto;
  zoom:1;
  background: linear-gradient(-90deg, #EB670A,  #E5008C);
}
.types-of-sneakers-container img {
  max-width: 100%;
}
/***************************
FOOTER
***************************/
.bottom-footer {
  overflow: auto;
  zoom: 1;
  margin: 15px 0px;
}
#first-ul {
  float: left;
  padding-left: 10px;
}
#first-ul li {
  padding-left: 10px;
}
#second-ul {
  padding-left: 0px;
  float: right;
  color:#59493a;
}
#second-ul a {
  color:#59493a;
}
.bottom-footer li {
  display: inline-block;
}
.bottom-footer img {
  float: left;
  width: 4%;
  padding-top: 10px;
}
.bottom-footer a {
  font-family: sans-serif;
  color: #ea7c70;
  font-size: 14px;
  text-decoration: underline;
}
